<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Edit Product</title>
</head>

<body>

    <body>
        <div class="form-container">
            <h1>Edit Product</h1>
            <form action="/products/<%=products.id%>?_method=PUT" method="POST">
                <div class="name-title">Name: <div>
                        <input type="text" value="<%=products.name%>" name="name">
                        <div class="name-title">Description: </div>
                        <textarea type="text" id="description" value="<%=products.description%>"
                            name="description"></textarea>
                        <div class="name-title">Image Source:</div>
                        <input type="html" value="<%=products.img%>" name="img">
                        <div class="name-title">Price:</div>
                        <input type="text" id="price" value="<%=products.price%>" name="price">
                        <div class="name-title">Quantity:</div>
                        <input type="number" value="<%=products.qty%>" name="qty"><br>
                        <input type="submit" id="submit" name="" value="Submit Edits">
            </form>
        </div>
    </body>
</body>

</html>