<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Product Details</title>
</head>

<body>
    <h1>Product Details</h1>
    <div class="container big">
        <p>
            Name: <%=products.name; %> <br>
            Details: <%=products.description; %><br>
            Price: <%=products.price; %><br>
            Quantity: <%=products.qty; %><br>
        </p>
        <img src="<%=products.img%>"><br>
        <nav>
            <a href="/products">Back</a>
        </nav>
    </div>
</body>

</html>