<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">

    <title>Budgtr</title>
</head>

<body>


    <% 
    bankBalance = 0;
 for (let i=0;i<Budget.length;i++) {
     bankBalance += parseInt(Budget[i].amount)
 }
 if (bankBalance < 0){
    bankBalanceClass = 'negative';
 } else if (bankBalance > 1000) {
     bankBalanceClass = 'rich';
 }
%>


    <div class="container">
        <h1>Budgtr All</h1>
        <h3 id="bank-account">Account Balance: <span class="<%=bankBalanceClass%>">$<%=bankBalance %></span></h3>
        <table>
            <% for (let i=0;i<Budget.length;i++) { %>
            <tr>
                <td><%=Budget[i].date %>
                <td><a href="/budget/<%=i%>"><%=Budget[i].name %></a>
                <td><%=Budget[i].amount %>
            </tr>
            <% } %>
        </table>
        <form action="/budget/new" method="GET">
            <input type="submit" name="" value="Create Item">
        </form>
    </div>

</body>

</html>